{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": false,
      "jsx": false,
      "experimentalObjectRestSpread": false
    }
  },
  "plugins": [
    "flowtype",
    "compat"
  ],
  "rules": {
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "jsx-a11y/media-has-caption": 0
    // "compat/compat": 2
  }
}
